/* main setup */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #cecdcd;
  height: 100vh;
  overflow: hidden;
}

/* navbar */
#logo {
  font-size: 3rem;
  font-weight: bolder;
  color: rgba(75, 75, 75, 0.8);
}

#logo:hover {
  color: white;
}

.nav-link {
  font-size: 1.5rem;
  color: rgba(75, 75, 75, 0.8);
}
.nav-link:hover {
  color: white;
}

/* Main content */
#par {
  font-weight: bold;

  font-size: 1rem;
  color: rgb(102, 102, 102);
  letter-spacing: 0.15rem;
}

#info {
  color: rgb(102, 102, 102);
  font-weight: bolder;
  font-size: 2rem;
  letter-spacing: 0.15rem;
}
/* Project Button */
.btn {
  color: rgb(102, 102, 102);
  position: relative;
  width: 256px;
  height: 50px;
}
.btn:hover {
  color: white;
}
.btn span {
  transition: all 0.3s;
  transform: scale(1, 1);
  font-size: 1.5rem;
  letter-spacing: 0.15rem;

  font-weight: bolder;
}
.btn::before,
.btn::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.btn-animated::before,
.btn-animated::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 4px solid rgb(102, 102, 102);
}

.btn-animated:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
  border: 2px solid white;
}
.btn-animated:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
  border: 2px solid white;
}
.btn-animated:hover::after,
.btn-animated:hover::before {
  left: 96px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* Social Link */
#socIcon a {
  text-decoration: none;
}

#socIcon p {
  font-size: 1.8rem;
  color: rgba(75, 75, 75, 0.8);
  letter-spacing: 0.15rem;
}
#socIcon p:hover {
  color: white;
}
/* Footer */
#footer {
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgba(75, 75, 75, 0.8);
}

/* Media queries */
@media (max-width: 576px) {
  #socIcon p {
    font-size: 1.4rem;
  }
  .btn {
    margin: 3rem;
  }
}
